/*CRIANDO VÁRIAVEIS GLOBAIS*/
:root {
  --primary-color: #0a1128;
  --white-color: #ffffff;
  --light-gray-color: #eee;
  --sobreposicao-cor: #dc143c;
  --gap: 3rem; /*espaçamento (margem)de 3rem para todas as sessões*/
}
.bg-imagem {
  /*para quanto quiser colocar a img de background */
  background-image: url("/img/main-bg.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color); /*com a imagem de background o texto fica branco*/
}
.bg-branco {
  background: var(--white-color); /*fundo da cor branca*/
  color: var(--primary-color);
}
/*aqui está a estrutura principal da página*CLASSE ESTRUTURAL*/
.largura-margem {
  /*sustentar o conteudo a 1200px*/
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap); /*margem padrao da página*/
}
.altura-100hv {
  min-height: 100vh; /*essa classe deixa o container com 100 vh,
  100vh é igual a altura do viewport*/
}
.primeiro-container-menu {
  position: fixed; /*Para o menu desce junto com a rolagem da página*/
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: solid 0.01rem var(--light-gray-color);
  z-index: 1;
}
/*separando H1 E NAV do menu, um de cada lado*/
.segundo-container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; /*itens se alinham ao centro no eixo perpendicular*/
  /*PARA O a DE h1 DEFINIR O TAMANHO DOS ITENS DO MENU**definir o tamanho de a em menu ul li a*/
  padding-top: 0;
  padding-bottom: 0;
}
.primeiro-container-menu h1 {
  font-size: 2.3rem; /*ajustando o tamanho da fonte da logo, por padrao era 6rem, definido no reset*/
  color: var(--primary-color);
}
.primeiro-container-menu h1 a {
  color: inherit; /*herdar a cor do pai*/
}
.primeiro-container-menu ul {
  list-style: none;
  display: flex; /*coloca os itens da ul um do lado do outro*/
}
.primeiro-container-menu ul li a {
  display: block; /*para ajustar diretamente no a da UL*/
  padding: 2rem; /*aqui está sendo definido a altura do menu, além do espaço entre: intro, top3, gallery, work, contact*/
  font-size: 1.8rem;
  color: var(--primary-color);
}
/*quando passar o mouse por cima de intro, top3, gallery... a cor muda para cinza*/
.primeiro-container-menu ul li a:hover {
  color: var(--sobreposicao-cor);
  transition: all 300ms ease-in-out; /*cor vai aparecendo com efeito*/
}
/*DIV VAZIA*/
/**/
/**/
.espaco-entre-menu {
  height: 6.5rem;
}
/*INICIO CONTEUD*/
.segundo-container-intro {
  position: relative;
  top: -5rem;
  display: grid;
  /*dividiu em grid de 2 colunas, com 1 fragmento para cada lado (1 os textos, 1 imagem*/
  grid-template-columns: 1fr 1fr;
  align-items: center; /*alinha os conteudos dentro da coluna ao centro*/
  gap: var(--gap);
}
/*CRIANDO UM CONTAINER FLEX DENTRO DA COLUNA DO GRIDE, PARA ALINHAR AO CENTRO*/
.texto-segundo-container-intro,
.imagem-segundo-container-intro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.texto-segundo-container-intro h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}
.imagem-segundo-container-intro img {
  max-width: 100%; /*imagem se adquadndo ao tamanho do seu pai*/
  height: auto;
}
/*TOP 3*/
.segundo-container-experiencia {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
/*TOP3*/
.segundo-container-top3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.segundo-container-top3 h2 {
}
.terceiro-container-top3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}
.terceiro-container-top3 h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}
.terceiro-container-top3 h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -3rem;
  transform: rotate(5deg);
}
.h2-segundo-container-top3 {
  margin-bottom: 1rem;
}
.p-segundo-container-top3 {
  padding-bottom: 5rem;
}
/*GALERIA*/
.segundo-container-galeria {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.segundo-container-galeria h2 {
}
.terceiro-container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}
.terceiro-container-galeria h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}
.terceiro-container-galeria h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -3rem;
  transform: rotate(5deg);
}
.h2-segundo-container-galeria {
  margin-bottom: 1rem;
}
.p-segundo-container-galeria {
  padding-bottom: 5rem;
}
.container-dentro-terceiro-container {
  width: 100%;
  max-width: 36rem;
  max-height: 360rem;
  overflow: hidden;
}
.container-dentro-terceiro-container img {
  transition: all 300ms ease-in-out;
}
.container-dentro-terceiro-container img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
